<div class="container">
    <div class="content">
        {% block content %}
        <h1> Hello I'm Tom, I am a Project Manager and a Programming Hobbyist  </h1>
        <h1>Bio</h1>
        <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
    Corrupti eius, expedita nisi eos consequuntur ipsum natus repudiandae 
    asperiores dolorum ex provident mollitia, odit veritatis esse cum aliquam 
    veniam facilis culpa. Odio maxime corporis vero voluptatum nemo earum 
    architecto nulla vel?
        </p>
        {% endblock %}
  </div>
</div>