{% extends "base.html" %}

{% load static %} <!-- Calls CSS script into HTML doc-->

    {% block CSS_files %}
    <link href="{% static "homepage/index.css" %}" rel="stylesheet">
    <link href="{% static "homepage/includes/navbar.css" %}" rel="stylesheet"> 
    {% endblock %}

    {% block page_title %}
        Tom Eve - Django Programmer
    {% endblock %}
    <!-- Text above is put on browser tab-->

    {% block content%}
        
        <header>
        <!--This is where the LinkedIn & Github icons and links go-->   
        </header>
                <img src="{% static "homepage/images/img4.png" %}" class="homeprofile" alt="homepage profile portrait" />

                <h3> Project Manager | Web Developer </h3>
                <h1>Hello I'm Tom. Welcome to my portfolio site!</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Corrupti eius, expedita nisi eos consequuntur ipsum natus repudiandae 
                    asperiores dolorum ex provident mollitia, odit veritatis esse cum aliquam 
                    veniam facilis culpa. Odio maxime corporis vero voluptatum nemo earum 
                    architecto nulla vel?
                </p>
        
    {% endblock %}
