{% extends "base.html" %}

{% load static %} <!-- Calls CSS script into HTML doc-->

    {% block CSS_files %}
    <link href="{% static "homepage/index.css" %}" rel="stylesheet">
    <link href="{% static "homepage/includes/navbar.css" %}" rel="stylesheet"> 
    {% endblock %}

    {% block page_title %}
        Tom Eve - Django Programmer
    {% endblock %}
    <!-- Text above is put on browser tab-->

    {% block content%}
    {% include "homepage/includes/navbar.html"  %} <!--This is a snippet for navbar-->
    
    <header>
    <!--This is where the LinkedIn & Github icons and links go-->   
    </header>

  
      <div class="container">
        <div class="content">
            <h1> Hello I'm Tom, I am a Project Manager and a Programming Hobbyist  </h1>
            <h1>Bio</h1>
            <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Corrupti eius, expedita nisi eos consequuntur ipsum natus repudiandae 
        asperiores dolorum ex provident mollitia, odit veritatis esse cum aliquam 
        veniam facilis culpa. Odio maxime corporis vero voluptatum nemo earum 
        architecto nulla vel?
            </p>
      </div>
    </div>
    
    {% endblock %}
